* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
  }
  .container1{
	position: absolute;
	width: 450px;
	height: 88px;
	margin: auto;
	top: 80%;
	background-color: #ffd900;
	border: 5px solid #ffff21;
	border-radius: 25px;
	padding: 20px;
}

.parag{
    
    color: #ffcb20;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    top: 77%;
    text-align: center;
    font-weight: bolder;
    position: relative;
    

  }


.link-cheese{
z-index: 100;
width: 15px;
height: 15px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
padding: 3px;

transition: 0.3s all;
top: 45px;
left: 50%;
        
}
.mayonnaise{
    display: none;
}
.link-mayo{


        z-index: 100;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 3px;
    
        transition: 0.3s all;
        top: -35px;
        left: 50%;
                
        
}
.link-cucumber{
    z-index: 10;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 3px;
    transition: 0.3s all;
    top: 3px;
    left: 50%;
            
    }
    .link-bread-after{
        z-index: 10;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 3px;
        transition: 0.3s all;
        margin-top:13px ;
        left: 60%;
                
        }

.link-steak{
z-index: 10;
width: 15px;
cursor: pointer;
height: 15px;
top: 45px;
margin-left: 8px;
}
.link-tomato{
z-index: 10;
width: 15px;
cursor: pointer;
height: 15px;
top: 3px;
margin-left: 8px;
}
.link-salad{
z-index: 10;
width: 15px;
cursor: pointer;
height: 15px;
margin-top:13px ;
margin-left: 8px;
}
.salad{
    display: none;
    }

.label1{
    font-size: 1.2em;
    font-weight: bold;
    color: #000000;
    position: absolute;
    left: 78%;
    margin-top: 50px;
    bottom: 10px;
    }
    .label2{
        font-size: 1.2em;
        font-weight: bold;
        color: #000000;
        position: absolute;
        left:8%;
        margin-top: 50px;
        bottom: 10px;
         
    }
    .label3{
        font-size: 1.2em;
        font-weight: bold;
        color: #000000;
        position: absolute;
        left:8%;
        margin-top: 30px;
        bottom: 10px;

    }
    .label4{
        font-size: 1.2em;
        font-weight: bold;
        color: #000000;
        position: absolute;
        left:8%;
        margin-top: 10px;
        bottom: 10px;

    }
    .label5{
        font-size: 1.2em;
        font-weight: bold;
        color: #000000;
        position: absolute;
        left: 78%;
        margin-top: 30px;
        bottom: 10px;
        }
        .label6{
            font-size: 1.2em;
            font-weight: bold;
            color: #000000;
            position: absolute;
            left: 78%;
            margin-top: 10px;
            bottom: 10px;
            }
    .btn{
        z-index: 11;
        position: absolute;
        width: 80px;
        height: 35px;
        font-size: 1em;
        font-weight: bold;
        color: #fff;
        background-color: #000000;
        outline: none;
        border: none;
        border-radius: 20px;
        margin: auto;
        margin-top: 40px;
        left: 0;
        right: 0;
    }
    .btn:hover, .btn:active{
        box-shadow: 0 0 5px 2px rgb(255, 255, 255);
    }
    
html, body {
    width: 100%;
    height: 100%;
    background: #ffff;
    overflow: hidden;
    
}
html *, body * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-sizing: border-box;
}
html *::before, body *::before, html *::after, body *::after {
   content: "";
    position: absolute;
}


.plate {
    width: 50.2vmin;
    height: 50.2vmin;
    background: rgb(170, 150, 150);
    border-radius: 50%;
    box-shadow: 1.3vmin 1vmin 0 0 rgb(160, 158, 158);
    overflow: hidden;
}
.plate::before {
    width: 50.2vmin;
    height: 50.2vmin;
    background: #757474;
    left: 0.9vmin;
    border-radius: 50%;
}
.plate::after {

    width: 30.7vmin;
    height: 30.7vmin;
    background: #f6f6f6;
    top: 11.3vmin;
    left: 11.2vmin;
    border-radius: 50%;
    filter: drop-shadow(0 0 2vmin #d2d4d3);
}
.before{
    z-index: 0;

}
.after{

    z-index: 5;
}
.bread {

    width: 31.5vmin;
    height: 22.5vmin;
    background: #ebcc69;
    top: 9.5vmin;
    left: -3.9vmin;
    transform: rotate(33deg);
    border: 1vmin solid #d4712a;
    border-radius: 20% 20% 10% 10%;
    box-shadow: 1vmin 1.2vmin 0.7vmin rgba(0, 0, 0, 0.3);
}
.breadtotal{
z-index: 4;
}
.bread-top {

    width: 31vmin;
    height: 17vmin;
    background:#ebcc69ff;
    top: -14vmin;
    left: 11.1vmin;
    transform: rotate(33deg);
    border: 1vmin solid #d4712a;
    border-radius: 50%;
    box-shadow: 1vmin 0 0.7vmin rgba(0, 0, 0, 0.3);
}
.bread-top::before {

    width: 20vmin;
    height: 10vmin;
    background: #ebcc69;
    top: 10.8vmin;
    left: 0.1vmin;
    transform: rotate(10deg);
    border-radius: 50%;
}
.bread-top::after {
    width: 20vmin;
    height: 10vmin;
    background: #ebcc69;
    top: 10.6vmin;
    left: 9vmin;
    transform: rotate(-10deg);
    border-radius: 50%;
}
.bread-bubble-1 {
    
    width: 2.2vmin;
    height: 2.2vmin;
    background: #a37142;
    top: 10vmin;
    left: -32vmin;
    border-radius: 50%;
}
.bread-bubble-1::before {
    width: 2.8vmin;
    height: 2.8vmin;
    background: #a37142;
    left: 6vmin;
    border-radius: 50%;
}
.bread-bubble-1::after {
    width: 2.5vmin;
    height: 2.5vmin;
    background: #a37142;
    top: -8.5vmin;
    left: 5vmin;
    border-radius: 50%;
}
.bread-bubble-2 {
    
    width: 2.2vmin;
    height: 2.2vmin;
    background: #a37142;
    top: 21vmin;
    left: -6.9vmin;
    border-radius: 50%;
}
.bread-bubble-2::before {
    width: 1.6vmin;
    height: 1.6vmin;
    background: #a37142;
    top: -2.9vmin;
    left: 1.2vmin;
    border-radius: 50%;
}
.bread-bubble-2::after {
    width: 1.4vmin;
    height: 1.4vmin;
    background: #a37142;
    top: -8.5vmin;
    left: 0.5vmin;
    border-radius: 50%;
}
.bread-bubble-3 {
    
    width: 1.5vmin;
    height: 1.5vmin;
    background: #a37142;
    top: 30.2vmin;
    left: -0.6vmin;
    border-radius: 50%;
}
.bread-bubble-3::before {
    width: 1vmin;
    height: 1vmin;
    background: #a37142;
    top: 1.5vmin;
    left: 5.4vmin;
    border-radius: 50%;
}
.bread-bubble-3::after {
    width: 0.5vmin;
    height: 0.5vmin;
    background: #a37142;
    top: -3vmin;
    left: 4vmin;
    border-radius: 50%;
}
.bread-bubble-4 {
    
    width: 0.7vmin;
    height: 0.7vmin;
    background: #a37142;
    top: 21.5vmin;
    left: 10.6vmin;
    border-radius: 50%;
}
.bread-bubble-4::before {
    width: 1.4vmin;
    height: 1.4vmin;
    background: #a37142;
    top: -5vmin;
    left: -0.5vmin;
    border-radius: 50%;
}
.bread-bubble-4::after {
    width: 1.25vmin;
    height: 1.25vmin;
    background: #a37142;
    top: -8vmin;
    left: 4vmin;
    border-radius: 50%;
}
.bread-bubble-5 {
    
    width: 0.6vmin;
    height: 0.6vmin;
    background: #a37142;
    top: -1.6vmin;
    left: 6.5vmin;
    border-radius: 50%;
}
.bread-bubble-5::before {
    width: 1.4vmin;
    height: 1.4vmin;
    background: #a37142;
    top: -2vmin;
    left: -2.3vmin;
    border-radius: 50%;
}
.bread-bubble-5::after {
    width: 1.25vmin;
    height: 1.25vmin;
    background:  #a37142;
    top: -2vmin;
    left: 3vmin;
    border-radius: 50%;
}
.bread-bubble-6 {
    
    width: 2.8vmin;
    height: 4.5vmin;
    background:  #a37142;
    top: -19.7vmin;
    left: 8.7vmin;
    border-radius: 50%;
}
.bread-bubble-6::before {
    width: 1.7vmin;
    height: 1.7vmin;
    background:  #a37142;
    top: -1.5vmin;
    left: -6.3vmin;
    border-radius: 50%;
}
.bread-bubble-6::after {
    width: 1.25vmin;
    height: 1.25vmin;
    background:  #a37142;
    top: 7.8vmin;
    left: 10vmin;
    border-radius: 50%;
}
.bread-bubble-7 {
    
    width: 1.4vmin;
    height: 1.4vmin;
    background:  #a37142;
    top: -15.8vmin;
    left: -7.7vmin;
    border-radius: 50%;
}
.bread-bubble-7::before {
    width: 1vmin;
    height: 1vmin;
    background:  #a37142;
    top: 5vmin;
    left: -1vmin;
    border-radius: 50%;
}
.bread-bubble-7::after {
    width: 1.1vmin;
    height: 1.1vmin;
    background:  #a37142;
    top: -0.2vmin;
    left: 14vmin;
    border-radius: 50%;
}
.cheese {
    z-index: 2;
    width: 31vmin;
    height: 29.5vmin;
    background: #ffc30e;
    top: 4vmin;
    left: 2.5vmin;
    display: none;
    transform: rotate(50deg);
}
.viande {
    z-index: 2;
    width: 29.5vmin;
    height: 28vmin;
    background: rgb(114, 57, 0);
    top: 4vmin;
    left: 2vmin;
    display: none;
    transform: rotate(50deg);
    border-radius: 10%;
}
.steak-inner{
    width: 3vmin;
    height: 11vmin;
    background: #442001;
    top: -7.5vmin;
    left: 5vmin;
    transform: rotate(120deg);
    border-radius: 50%;
}
.steak-inner::before{
    width: 3vmin;
    height: 11vmin;
    background: #442001;
    top: -0.2vmin;
    left: 4.5vmin;
    border-radius: 50%;
}
.steak-inner::after{
    width: 3vmin;
    height: 11vmin;
    background: #442001;
    top: -0.2vmin;
    left: 9vmin;
    border-radius: 50%;
}


.tomato {
    z-index: 3;
    width: 17.5vmin;
    height: 17.5vmin;
    background: #af050a;
    top: -15.8vmin;
    left: -18vmin;
    border-radius: 50%;
    border: 1vmin solid #a40001;
    overflow: hidden;
    display: none;
}

.tomato-inner {
    width: 3.5vmin;
    height: 10vmin;
    background: #fe020f;
    top: -7.5vmin;
    left: 5vmin;
    transform: rotate(120deg);
    border-radius: 50%;
}
.tomato-inner::before {
    width: 3vmin;
    height: 11vmin;
    background: #fe020f;
    top: -0.2vmin;
    left: 4.5vmin;
    border-radius: 50%;
}
.tomato-inner::after {
    width: 3vmin;
    height: 11vmin;
    background: #fe020f;
    top: -0.2vmin;
    left: 9vmin;
    border-radius: 50%;
}
.tomato-right {
    top: 14.5vmin;
    left: 18.5vmin;
}
.mayo1{

    z-index: 3;
    width: 2.6vmin;
    height: 10vmin;
    background: #ffffff;
    top: -30.3vmin;
    left: 30vmin;
    transform: rotate(90deg);
    border-radius: 50vmin 10vmin 0 0;
}
.mayo2{

    z-index: 3;
    width: 2.6vmin;
    height: 10vmin;
    background: #ffffff;
    top: -25.3vmin;
    left: 34vmin;
    transform: rotate(90deg);
    border-radius: 50vmin 10vmin 0 0;
}



.salad-1 {
    z-index: 3;
    width: 2.6vmin;
    height: 10vmin;
    background: #abe460;
    top: -9.3vmin;
    left: 34vmin;
    transform: rotate(90deg);
    border-radius: 50vmin 10vmin 0 0;
}
.salad-1::before {
    width: 5vmin;
    height: 10vmin;
    background: #88b54f;
    left: 1.5vmin;
    transform: rotate(20deg);
    border-radius: 90% 20% 0 0;
}
.salad-1::after {
    width: 2vmin;
    height: 10vmin;
    background: #88b54f;
    top: 1vmin;
    left: 8vmin;
    transform: rotate(10deg);
    border-radius: 100% 20% 0 0;
}
.salad-2 {
    z-index: 3;
    width: 2.5vmin;
    height: 10vmin;
    background: #88b54f;
    top: -32vmin;
    left: -5vmin;
    transform: rotate(-60deg);
    border-radius: 5vmin 20vmin 0 0;
}
.salad-2::before {
    width: 4.2vmin;
    height: 3vmin;
    background: #88b54f;
    top: 4.5vmin;
    left: 2vmin;
    transform: rotate(15deg);
    border-radius: 5vmin;
}
.salad-2::after {
    width: 7vmin;
    height: 3vmin;
    background: #88b54f;
    top: 8vmin;
    left: 1.2vmin;
    transform: rotate(45deg);
    border-radius: 10vmin 2vmin;
}
.salad-3 {
    z-index: 3;
    width: 2vmin;
    height: 10vmin;
    background: #88b54f;
    top: 39.5vmin;
    left: 1.8vmin;
    transform: rotate(-30deg);
    border-radius: 0 0 5vmin 5vmin;
}
.salad-3::before {
    width: 5vmin;
    height: 8vmin;
    background: #88b54f;
    top: 2.1vmin;
    left: 1vmin;
    transform: rotate(20deg);
    border-radius: 0 0 0.5vmin 5vmin;
}
.salad-3::after {
    width: 5vmin;
    height: 8vmin;
    background: #88b54f;
    top: -0.3vmin;
    left: 3vmin;
    transform: rotate(35deg) skewX(40deg);
}
.salad-4 {
    z-index: 2;
    width: 5vmin;
    height: 4vmin;
    background: #88b54f;
    top: 33.5vmin;
    left: 17vmin;
    transform: rotate(5deg);
    border-radius: 1vmin;
}
.salad-4::before {
    width: 5vmin;
    height: 2vmin;
    background: #88b54f;
    top: -0.1vmin;
    left: 1.5vmin;
    border-radius: 2vmin;
}
.salad-5 {
    z-index: 3;
    width: 2vmin;
    height: 5vmin;
    background: #88b54f;
    top: 8.5vmin;
    left: -38vmin;
    transform: rotate(90deg);
    border-radius: 0 0 5vmin 5vmin;
}
.salad-5::before {
    width: 3.5vmin;
    height: 5vmin;
    background: #88b54f;
    top: -0.5vmin;
    left: -0.1vmin;
    transform: rotate(-20deg);
}
.salad-5::after {
    width: 2vmin;
    height: 5vmin;
    background: #88b54f;
    top: -1vmin;
    left: 2.5vmin;
    transform: rotate(-35deg);
    border-radius: 0 0 5vmin 5vmin;
}


.cucumber {
    z-index: 2;
    width: 17.5vmin;
    height: 17.5vmin;
    background: #61cd82;
    top: -4.8vmin;
    left: -26vmin;
    border: 1vmin solid #7cff9b;
    border-radius: 50%;
    overflow: hidden;
    display: none;
}

.breadtotal{
    display: none;
}
.breadall{
    z-index: 1;
}

.cucumber::before {
    z-index: inherit;
    width: 1.5vmin;
    height: 1.5vmin;
    background: #5a5f59;

    top: 9vmin;
    left: 2vmin;
    border-radius: 50%;
}
.cucumber::after {
    width: 1.5vmin;
    height: 1.5vmin;
    background: #5a5f59;
    top: 5.1vmin;
    left: 3vmin;
    border-radius: 50%;
}
.cucumber-inner {
    width: 3vmin;
    height: 10vmin;
    background: #fff;
    top: -8.2vmin;
    left: 0.5vmin;
    transform: rotate(110deg);
    border-radius: 50%;
    opacity: 0.5;
}
.cucumber-inner::before {
    width: 3vmin;
    height: 11vmin;
    background: #fff;
    top: -0.8vmin;
    left: 3.5vmin;
    border-radius: 50%;
}
.cucumber-inner::after {
    width: 3vmin;
    height: 11vmin;
    background: #fff;
    top: -1vmin;
    left: 7.5vmin;
    border-radius: 50%;
}
.cucumber-right {
    top: -8vmin;
    left: 31.5vmin;
    transform: scale(0.75) rotate(130deg);
}
.cucumber-right::after {
    top: 2vmin;
    left: 5vmin;
}
.img{
   background-image: url(promo1.gif);
   background-size : 100px 50px;
   background-size : 100% auto ;
 
  
    
}

@media (max-width:500px) {
   .plate::before {
    width: 66.2vmin;
    height: 66.2vmin;
    background: #f6f6f5;
    left: 0.9vmin;
    border-radius: 50%;
}
.parag{
    
    color: #ffcb20;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    top: 77%;
    text-align: center;
    font-weight: bolder;
    position: relative;
    

  }
}

